# Copyright (C) 2022 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Permissions for pta
/dev/cam-hyp-intf*        0660   system     camera
/dev/cpu_dma_latency      0660   root       system

# Permissions for 3DSL
/dev/cam-sl-eeprom        0660   system     system
/dev/flood                0660   system     system
/dev/rtmv20               0660   system     system

# Permissions for Elliptics
/dev/elliptic0            0644   root       root
/dev/elliptic1            0644   root       root

# Permissions for TAS
/dev/tiload_node          0660   system     system

# WLAN
/dev/hw_random            0600   root       root

# Permissions for audio
/dev/aud_pasthru_adsp     0660   system     audio

# Native sensors input
/sys/devices/virtual/input/input*   enable_int       0660  system   input
/sys/devices/virtual/input/input*   gyro_op_mode     0660  system   input
/sys/devices/virtual/input/input*   acc_range        0660  system   input
/sys/devices/virtual/input/input*   acc_value        0660  system   input
/sys/devices/virtual/input/input*   gyro_odr         0660  system   input
/sys/devices/virtual/input/input*   fifo_data_sel    0660  system   input
/sys/devices/virtual/input/input*   fifo_watermark   0660  system   input
/sys/devices/virtual/input/input*   enable           0660  system   input
/sys/devices/virtual/input/input*   acc_odr          0660  system   input
/sys/devices/virtual/input/input*   temperature      0660  system   input
/sys/devices/virtual/input/input*   acc_op_mode      0660  system   input
/sys/devices/virtual/input/input*   fifo_bytecount   0660  system   input
/sys/devices/virtual/input/input*   gyro_range       0660  system   input
/sys/devices/virtual/input/input*   gyro_value       0660  system   input

# GNSS PPS Device premissions
/dev/pps*                  0660   gps     gps

# Sys-fs display
/sys/class/graphics/fb0     dynamic_bitclk           0664    system  graphics
